.about {
}

.about__me,
.about__why {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin: 24px 0px;
  padding: 0px 20px;
}
.about--title {
  font-family: "Cinzel-Regular";
  padding: 0px 10px;
  flex-basis: 60%;
  outline: 1px solid red;
}
