<header class="header">
    <div class="header_container">
        <div class="header_resume">
            <h3 class="my_name">AVERKIN MAKSYM</h3>
            <div class="btn-download">
                <button class="download-resume">
                    <svg class="cloud-download" width="16px" height="16px">
                        <use href="./icons/icons-header.svg#cloud-download"></use>
                    </svg>
                </button>
            </div>
        </div>
            
            <nav>
                <ul class="nav_list">
                    <li>
                        <button class="nav_item">ABOUT ME</button>
                    </li>
                    <li>
                        <button class="nav_item">EXPERIENCE</button>
                    </li>
                    <li>
                        <button class="nav_item">SKILLS</button>
                    </li>
                    <li>
                        <button class="nav_item">EDUCATION</button>
                    </li>
                </ul>
            </nav>
    </div>
</header>