<header>
    <h2 class="header">DDDDDDDDDd</h2>
    <!-- <input type="text" name="text" class="input">
    <input type="text" name="text" class="input">
    <input type="text" name="text" class="input"> -->
<div class="btn-download">
    <button class="download-resume">
        <svg class="cloud-download" width="16px" height="16px">
            <use href="./icons/icons-header.svg#cloud-download"></use>
        </svg>
    </button>
</div>
<div class="btn-download">
    <button class="download-resume">
        <svg class="cloud-download" width="16px" height="16px">
            <use href="./icons/icons-header.svg#cloud-download"></use>
        </svg>
    </button>
</div>


</header>