<section class="section_hero">
    <div class="hero_container">
        <div class="social">
        <button type="button" class="social_btn">
            <label class="social_hamburger">
                <input type="checkbox" class="social_check" >
               <svg viewBox="0 0 32 32">
                    <path class="social_line line-top-bottom"
                        d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22">
                    </path>
                    <path class="social_line" d="M7 16 27 16"></path>
                </svg>
            </label>
        </button>
        
            <button type="button" class="social_media_btn linkedIn">
                <a href="#">
                    <svg class="linkedIn_icon" width="16px" height="16px">
                        <use href="./icons/icons-social.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </button>
            <button type="button" class="social_media_btn facebook">
                <a href="#">
                    <svg class="facebook_icon" width="16px" height="16px">
                        <use href="./icons/icons-social.svg#icon-facebook"></use>
                    </svg>
                </a>
            </button>
            <button type="button" class="social_media_btn github">
                <a href="#">
                    <svg class="github_icon" width="16px" height="16px">
                        <use href="./icons/icons-social.svg#icon-github"></use>
                    </svg>
                </a>
            </button>
            <button type="button" class="social_media_btn telegram">
                <a href="#">
                      <svg class="telegram_icon" width="16px" height="16px">
                        <use href="./icons/icons-social.svg#icon-telegram"></use>
                    </svg>
                </a>
            </button>
            <button type="button" class="social_media_btn watsapp">
                <a href="#">
                      <svg class="watsapp_icon" width="16px" height="16px">
                        <use href="./icons/icons-social.svg#icon-whatsapp"></use>
                    </svg>
                </a>
            </button>
        </div>
        <div class="hero_title">
        <h1 class="hero_quotes">“First learn computer science and all the theory. Next develop a programming style. Then forget
            all that and just hack.”</h1>
        </div>
        <div class="contacts">
            <button type="button" class="contacts_btn">
                <label class="social_hamburger">
                    <input type="checkbox" class="contacts_check">
                    <svg viewBox="0 0 32 32">
                        <path class="social_line line-top-bottom"
                            d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22">
                        </path>
                        <path class="social_line" d="M7 16 27 16"></path>
                    </svg>
                </label>
            </button>
            <button type="button" class="contacts_media_btn email">
                <a href="#">
                    <svg class="email_icon" width="16px" height="16px">
                        <use href="./icons/icons-social.svg#icon-email"></use>
                    </svg>
                </a>
            </button>
            <button type="button" class="contacts_media_btn phone">
                <a href="#">
                    <svg class="phone_icon" width="16px" height="16px">
                        <use href="./icons/icons-social.svg#icon-phone"></use>
                    </svg>
                </a>
            </button>
            
        </div>

    </div>

</section>