:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #eee;
  --heading-color: #292922;
  --card-bg-color: #fff;
}

.dark-theme {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #121212;
  --heading-color: #818cab;
  --card-bg-color: #1f1f1f;
}
